<div class="container">
  <div ng-controller = "mainController">  
    <div class="container jumbotron" id="contentBody">

      <h2 id="title">Distance Calculator</h2>

      <label for="autocompleteFrom">Source</label>
      <input type="text" class="form-control" id="autocompleteFrom" placeholder="Enter Source...">

      <br>

      <label for="autocompleteTo">Destination</label>
      <input type="text" class="form-control" id="autocompleteTo" placeholder="Enter Destination...">

      <br>

      <button class="btn btn-success center-block" ng-click="calculate()" id="calculate">Calculate</button>

      <hr>

      <div id="result">
        <h4>Estimated Time: 
          <div class="estResult" ng-cloak>
            {[{estTime}]}
          </div>
        </h4>
        <h4>Estimated Distance: 
          <div class="estResult" ng-cloak>
            {[{estDist}]}
          </div>
        </h4>
      </div>

    </div>
  </div>
</div>